<style>
    button {
        height: 50px;
        width: 50px;
    }

    #keypad {
        padding-top: 50px;
        padding-right: 50px;
    }
</style>

<div style="height: 700px;" id="gameBody">
    <div style="float: left; position:relative;">
        <img style="position: absolute;" height="600px" src="../../assets/images/rope.png"/>
        <img style="position: absolute;" height="600px" src="../../assets/images/head.png"/>
    </div>
    <div id="keypad" style="float: right;">
        <button>A</button>
        <button>B</button>
        <button>C</button>
        <button>D</button>
        <button>E</button>
        <button>F</button>
        <br/>
        <button>G</button>
        <button>H</button>
        <button>I</button>
        <button>J</button>
        <button>K</button>
        <button>L</button>
        <br/>
        <button>M</button>
        <button>N</button>
        <button>O</button>
        <button>P</button>
        <button>Q</button>
        <button>R</button>
        <br/>
        <button>S</button>
        <button>T</button>
        <button>U</button>
        <button>V</button>
        <button>W</button>
        <button>X</button>
        <br/>
        <button>Y</button>
        <button>Z</button>
        <br/>
    </div>
</div>